{{> header}}

{{#if message}}
    <div class="alert alert-{{message.type}}" role="alert">
        {{message.message}}
    </div>
{{/if}}

{{> navbar}}

<div class="container pt-5">
    <form action="/login" method="POST">
        <div class="row auth-register">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input type="text" placeholder="Email" name="email">
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row auth-register">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input type="password" placeholder="Password" name="password">
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row auth-register">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <button class="btn-register" type="submit">Login</button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>
</div>

{{> footer}}