{{> header}}
{{#if message}}
    <div class="alert alert-{{message.type}}" role="alert">
        {{message.message}}
    </div>
{{/if}}
{{> navbar}}
<form method="post" action="/register">
<div class="container pt-5">
        <div class="row auth-register">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input type="email" placeholder="Email" name="email" required>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row auth-register">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input type="password" placeholder="Password" name="password" required>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row auth-register">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input type="number" placeholder="No. KTP" name="no_ktp" required>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row auth-register">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input type="text" placeholder="Name" name="name" required>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row auth-register">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input type="text" placeholder="Addrees" name="address" required>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row auth-register">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input type="text" placeholder="Phone" name="phone" maxlength="12" required>
            </div>
            <div class="col-md-2"></div>
        </div>
        
        <div class="row auth-register">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input type="text" disabled value="1">
            </div>
            <div class="col-md-2"></div>
        </div>
      
       
       
    <div class="row auth-register">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <button class="btn-register" type="submit">Register</button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>
</div>
</div>
</form>
{{> footer}}