{{> header}}
{{#if message}}
    <div class="alert alert-{{message.type}}" role="alert">
        {{message.message}}
    </div>
{{/if}}
{{> navbar}}
<div class="rent-container">
    <form method="post" action="/rent">
    <input class="id" name="id" value="{{this.id}}" hidden></input><br>
    <label>Borrow Date</label>
    <input style="border-radius:5px;"type="date" name="borrow_date"></input><br>
    <label>Return Date</label>
    <input style="margin-left:10px; border-radius:5px;" type="date" name="return_date"></input><br>
   
    <button type="submit" class="btn btn-primary">Rent Now</button>
    </form>
</div>
{{> footer}}